<form action="{% url 'anagrams:past anagrams' %}" method="post" class="box">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <label class="radio">
                <input type="radio" name="difficulty" , value='easy'>
                Easy
            </label>
            <label class="radio">
                <input type="radio" name="difficulty" , value='medium'>
                Medium
            </label>
            <label class="radio">
                <input type="radio" name="difficulty" , value="hard">
                Hard
            </label>
            <label class="radio">
                <input type="radio" name="difficulty" , value="any difficulty" checked>
                Any difficulty
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="button is-link is-light" type="submit" value="Filter">
        </div>
    </div>
</form>