     
        
        {% if fil_dif %}
        <div class="columns">

            {% for list in recent_anagrams %}
            
                <div class="column is-one-quarter">
                        
                    {% for anagram in list %}
                        {% if anagram.difficulty == fil_dif %}

                            <div class="notification is-link is-light">
                                <a href="{% url 'anagrams:detail' anagram.id %}" class="title is-5">Anagram {{ anagram.id }}</a>
                                <p> {{ anagram.date_posted }}</p>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


        {% else %}
            <div class="columns">

                {% for list in recent_anagrams %}
                
                    <div class="column is-one-quarter">
                            
                        {% for anagram in list %}
                            {% if solved_anagrams %}    

                                {% if anagram in solved_anagrams %}

                                    <div class="notification is-success">
                             
                                        
                                            <div class="icon-text" id="tickicontext">
                                                <a href="{% url 'anagrams:detail' anagram.id %}" class="title is-5 is-spaced">Anagram {{ anagram.id }}</a>
                                                <span class="icon " style="font-size:100px;margin-left: 0.12em;">
                                                    <ion-icon name="checkmark-circle" ></ion-icon>
                                                </span>
                                                
                                              </div>

                                        
                        
                                 
                                        {% if anagram.difficulty == 'hard' %}
                                        <span class="tag is-danger">
                                            <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                        </span>
                                        {% elif anagram.difficulty == 'medium'%}
                                        <span class="tag is-warning">
                                            <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                        </span>
                                        {% else %}
                                        <span class="tag is-success">
                                            <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                        </span>
                                        {% endif %}
                               

                                    
                                        <p> {{ anagram.date_posted }}</p>
                                    
                                    </div>
                                
    
                                {% else %}

                                    <div class="notification is-link is-light">
                             
                                        <div class="block"><a href="{% url 'anagrams:detail' anagram.id %}" class="title is-5 is-spaced">Anagram {{ anagram.id }}</a></div>
                                        
                        
                                 
                                            {% if anagram.difficulty == 'hard' %}
                                            <span class="tag is-danger">
                                                <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                            </span>
                                            {% elif anagram.difficulty == 'medium'%}
                                            <span class="tag is-warning">
                                                <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                            </span>
                                            {% else %}
                                            <span class="tag is-success">
                                                <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                            </span>
                                            {% endif %}
                               

                                    
                                            <p> {{ anagram.date_posted }}</p>
                                        </div>
                                    </div>
                      
    
                                {% endif %}
                            {% else %}
                                <div class="notification is-link is-light">
                             
                                    <div class="block"><a href="{% url 'anagrams:detail' anagram.id %}" class="title is-5 is-spaced">Anagram {{ anagram.id }}</a></div>
                                
                
                        
                                        {% if anagram.difficulty == 'hard' %}
                                        <span class="tag is-danger">
                                            <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                        </span>
                                        {% elif anagram.difficulty == 'medium'%}
                                        <span class="tag is-warning">
                                            <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                        </span>
                                        {% else %}
                                        <span class="tag is-success">
                                            <h4 class="title is-6">{{anagram.difficulty}}</h4>
                                        </span>
                                        {% endif %}
                    

                            
                                        <p> {{ anagram.date_posted }}</p>
                        
                                    </div>   
                                </div>  
          

                            {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>

        
            
            

            
        {% endif %}


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

