<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Past Anagrams</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

    <section class="hero is-link">
        <div class="hero is-head">
            {% include 'anagrams/navbar.html' %} 
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h4 class="title is-4">Try out some other anagrams</h4>
                {% include 'anagrams/choose_anagram.html' %}
                
                    
                    </div>
                    </div>
                    </section>

            <section class="section is-centered">
                <h1 class="title is-2">Past Puzzles</h1>
                {% include 'anagrams/index.html' %}

                    
            </section>

                    